In [1]:
l1=[i**2 for i in range(0,11)]
print(l1)
type(l1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

list

In [2]:
lst1=[1,2,3,4,5]
lst2=lst1[-3] #3rd last element
print(lst2)

A=[1,2,3,4,5]
B=[6,7,8,9,10]
C=[]
for i in range(0,5):
    C.append(A[i]+B[i])
print(C)

3
[7, 9, 11, 13, 15]

In [3]:
#-----Add corresponding elements of 2 lists
A=[1,2,3,4]
B=[5,6,7,8]
i=0
C=[]
while i < len(A):
    C.append(A[i]+B[i])
    i+=1
print(C)

[6, 8, 10, 12]

In [4]:
A=[1,2,3,4]
B=[5,6,7,8,9,10]
C=[]
for x,y in zip(A,B):
    C.append(x+y)
print(C)

[6, 8, 10, 12]

In [5]:
a=[1,4,9,16,25]
a.pop(3)
print(a)

[1, 4, 9, 25]

In [30]:
f=["apple","orange","mango","apple","cherry"]
for i in f:
    if i=="apple":
        f.remove("apple")
        print(f)

['orange', 'mango', 'apple', 'cherry']
['orange', 'mango', 'cherry']

In [7]:
a=['butter','jam','curd']
s='- '.join(a)
print(s)

butter- jam- curd

In [8]:
a=['butter','jam','curd']
s=str(a).strip('[]')
print(s)

'butter', 'jam', 'curd'

In [12]:
l=[1,11,111]
s=' '.join(str(e) for e in l)
print(s)

1 11 111

In [21]:
num=[1,70,23,47,18,50,3]
num.sort() #ASCENDING Order
print(num)
num.sort(reverse=True)    #Descending Order
print(num)

[1, 3, 18, 23, 47, 50, 70]
[70, 50, 47, 23, 18, 3, 1]

In [35]:
#-------Iterate over than 2+ list--------------
name = ['Snowball', 'Chewy', 'Bubbles', 'Gruff']
animal = ['Cat', 'Dog', 'Fish', 'Goat']
age = [1, 2, 4, 6]
z = [i for i  in zip(name, animal, age)]
print(z)

[('Snowball', 'Cat', 1), ('Chewy', 'Dog', 2), ('Bubbles', 'Fish', 4), ('Gruff', 'Goat', 6)]

In [38]:
#----------Remove Duplicates from List
a=[3,2,2,1,3,4]
list(set(a))

[1, 2, 3, 4]

In [39]:
#--------Index of 1st occurence of item in List
f=["apple","orange","mango","pear","apple","cherry"]
f.index("mango")

2

In [43]:
#-----------Remove all elements from a list
l1 = ['Cat', 'Dog', 'Fish', 'Goat']
l1.clear()
print(l1)

[]

In [49]:
l1 = ['Cat', 'Dog', 'Fish', 'Goat']
for i in l1:
    print(l1.index(i),":",i)

0 : Cat
1 : Dog
2 : Fish
3 : Goat

In [53]:
#---------concatenate two lists
a=['butter','jam','curd']
age = [1, 4, 6]
print(a+age)

['butter', 'jam', 'curd', 1, 4, 6]

In [54]:
#---------- manipulate every element in a list
sq=[0, 1, 4, 9, 16, 25]
sq=[i+1 for i in sq]
print(sq)

[1, 2, 5, 10, 17, 26]

In [62]:
#-------count the occurrence of a specific object in a list
a=[3,2,2,1,3,4]
a.count(4)

1

In [63]:
l1 = ['Cat', 'Dog', 'Fish', 'Goat']
#l2= ["apple","orange","mango","pear","apple","cherry"]
l2=l1.copy()
l2.remove('Fish')
print(l1)
print(l2)

['Cat', 'Dog', 'Fish', 'Goat']
['Cat', 'Dog', 'Goat']

In [4]:
spam = ['cat', 'bat', 'rat', 'elephant']
spam[0:-1]

['cat', 'bat', 'rat']

In [3]:
list("abc")

['a', 'b', 'c']

In [20]:
l=[1,2,3,2,4,5,3]
l.count(2)

2