In [1]:
t=(23,67,90,31,55,4)
print(sorted(t)) #Ascending order

t2=(9,41,2,60,87)
sorted(t2,reverse=True) #Descending order

[4, 23, 31, 55, 67, 90]

[87, 60, 41, 9, 2]

In [2]:
t=(23,67,90,31,23,4)
t.count(23)

2

In [4]:
t=(23,67,90,31,55,4)
t2=(9,41,2,60,87)
t+t2

(23, 67, 90, 31, 55, 4, 9, 41, 2, 60, 87)

In [9]:
(23,67,90,31,55,4)>(9,41,2,60,87) #Only checks the 1st element

True

In [19]:
a=(1,2)
(1,2) is a   #For checking identity

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-19-5758fcb64e3c>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  (1,2) is a   #For identity

False

In [18]:
x=[1,2,3]
y=[1,2,3]
x is y

False

In [21]:
a=10
b=10
a is b

True

In [23]:
t2=(9,41,2,60,87)
t2.index(60)

3

In [31]:
#----Reverse the tuple
aT=(10,20,30,40,50)
print(aT[::-1])

(50, 40, 30, 20, 10)

In [33]:
#----Access the item 20 from tuple
t=("orange",[10,20,30],(5,15,25))
t[1][1]

20

In [37]:
#------swap the tuple
t1=(11,22)
t2=(99,88)
t1,t2=t2,t1
print(t1)
print(t2)

(99, 88)
(11, 22)

In [38]:
t1=(11,[22,33],44,55)
t1[1][0]=222
print(t1)

(11, [222, 33], 44, 55)

In [46]:
#------sort the tuple according to 2nd item
nT=(('a',23),('b',37),('c',11),('d',29))
sorted(nT,key=lambda nT:nT[1])

[('c', 11), ('a', 23), ('d', 29), ('b', 37)]

In [47]:
t1 = (50, 10, 60, 70, 50)
t1.count(50)

2

In [49]:
#-----check if all elemnets in tuple are same
t = (45, 45, 45, 50)
all(i==t[0] for i in t)

False

In [50]:
t1=("abc",12,45,"xyz")
print(t1)

('abc', 12, 45, 'xyz')

In [53]:
#-----Unpack a tuple
numT=(12,45,67,3,39)
a,b,c,d,e=numT
print("d=",d)

d= 3

In [55]:
#----Adding a new item in Tuple
numT=(12,45,67,3,39)
numT+ (25,)

(12, 45, 67, 3, 39, 25)

In [63]:
#----------convert a tuple to a string
numT=(12,45,67,3,39)
s=str(numT)
print(type(numT))
print(type(s))

<class 'tuple'>
<class 'str'>

In [67]:
#------get the 4th element and 4th element from last of a tuple
a=(23, 67, 90, 31, 55, 4, 9, 41, 2, 60, 87)
print(a[4])
print(a[-4])

55
41

In [80]:
#----create the colon of a tuple
import copy
tup=("hello",23,True,80)
dup=copy.deepcopy(tup)
dup=dup+(25,)
print(dup)
print(tup)

('hello', 23, True, 80, 25)
('hello', 23, True, 80)

In [6]:
#-------Convert TUPLE to Dictionary
nT=(('a',23),('b',37),('c',11),('d',29))
dict(nT)

{'a': 23, 'b': 37, 'c': 11, 'd': 29}

In [93]:
#------- unzip a list of tuples into individual lists
lT=(['a',23],['b',56],['c',70],['t',21])
a,b,c,d=list(lT)
print(a)

['a', 23]

In [102]:
#----Replace last values of tuples to 100
tup= ((10, 20, 40), (40, 50, 60), (70, 80, 90))
for i in tup[::-1]:
    print(i+(100,))

(70, 80, 90, 100)
(40, 50, 60, 100)
(10, 20, 40, 100)

In [5]:
#----remove an empty tuple(s) from a list of tuples
t=[(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]
for i in t:
    if i == ():
        t.remove(i)
print(t)

[(), ('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

In [16]:
#----------sort a tuple by its float element
a=[('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
sorted(a,key=lambda a:a[1])

[('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]