In [1]:
_kir1=3
print(_kir1)
_kir1="Kiran"
print(_kir1)

3
Kiran

In [2]:
#---------------Chapter -- 1----------------

#--------------print function-------------

print("Hello")
print('program')
print("5+2")

#double and single quotes in string
print('hi "kiran" this is my first program ')

#print("hello 'python'")
#print('hello "python"')

Hello
program
5+2
hi "kiran" this is my first program

In [3]:
#.................escape sequences................

print("hello \"world\" world")
print("hello \'world\'world")
print("line a\nline b\nline c")
print("name  shakti")
print("this is backlash\\")
print("this is double backslash\\\\")

hello "world" world
hello 'world'world
line a
line b
line c
name  shakti
this is backlash\
this is double backslash\\

In [4]:
#.........escape sequence as a normal text............

#.....output...line a \n line b....

#.....output...line B \\\\n line b....

print("line a \\n line b")
print("line B \\t line b")

line a \n line b
line B \t line b

In [5]:
#.......raw string......

print(r"line a \n line b")

line a \n line b

In [6]:
#........how to print emoji......

print("\U0001F60D")
print("\U0001F601")
print("\U0001F609")
print("\U0001F618")
print("\U0001F61C")

üòç
üòÅ
üòâ
üòò
üòú

In [7]:
#....python as a calculater....

print(2+3)
print(3+4*4)

#...floating point division...

print(2/4)
print(4/2)

#.....integer division....

print(4//2)
print(2//4)

#......exponent.....

print(2**0.5)
print(2**8)
print(round(2**0.5,4))

#........using precedence rule.......

print(2**3/2*6-4*(3-4/2))
print((5+4)*4/6%2)

5
19
0.5
2.0
2
0
1.4142135623730951
256
1.4142
20.0
0.0

In [8]:
#..........variables.........

number1 = 2
print(number1)
number1 = 4
print(number1)

#.....string......

name = "shakti"
print(name)
name = 123   #dyanamic programing language
print(name)

#....letter , _ ....

_name = "shakti"

#.......naming rule for variables.......

#1name = "shakti"    #....error
name1 = "shakti"  #.......no error
#name$ = "shakti"    #....error
#$name = "shakti"     #......error
_name = "anyname"  #.....no error

#........convention for variable naming.........

user_one = "Shakti"  #snake case writing
userOne = "shakti"   #camle case writing

2
4
shakti
123

In [9]:
#................CHAPTER -- 2...............

#.........STRING CONCATENATION...........

#...ADD A TWO USER...

first_name = "shruti"
last_name = "wadhwa"
full_name = first_name + " " + last_name
print(full_name)

shruti wadhwa

In [10]:
#print(first_name + 5)  #error

print(first_name + "5")  #no error

print(first_name + str(5))  #no error

print(first_name * 5)  #no error

shruti5
shruti5
shrutishrutishrutishrutishruti

In [11]:
#........user input........
#....input function....

name = input("type your name ")
print("hello " + name)

type your name 5
hello 5

In [12]:
number_one = input("enter first number")
number_two = input("enter second number")
total = number_one + number_two
print("total is" + total)

number_one = int(input("enter first number"))
number_two = int(input("enter second number"))
total = number_one + number_two
print("total is" + str(total))
#print("total is" + total)

enter first number54
enter second number74
total is5474
enter first number74
enter second number45
total is119

In [13]:
number1 = str(5)
number2 = float("6")
number3 = int("8")
print(number2 + number3)

14.0

In [14]:
#.......MORE ABOUT VARIABLES........

name, age ="shakti ", "23 "
print("hello " + name + "your age is " + age)

a=b=c=2
print(a+b+c)

hello shakti your age is 23
6

In [15]:
#minibus #......more than one input in one line......

date = input("date").split('/')
print(date)

date25/03/2021
['25', '03', '2021']

In [16]:
#minibus #......more than one input in one line......

name, age = input("enter your name and age").split()
print(name)
print(age)

enter your name and agekiran 23
kiran
23

In [17]:
  #...........STRING FORMATTING...........

name = "shakti"
age = 23
print("hello {} your age is {}".format(name, age))    #....usi#............excersies............

#..qustion--> ask your to input 3 number and you have to print average of three number using string formatting.

#....Bonus:-- try to take all three comma separeted inputs in one line.

num1 = input("enter the first number: ")
num2 = input("enter the second number: ")
num3 = input("enter the third number: ")
print(f"average of three number : {(int(num1) + int(num2) + int(num3)) /3} ")

#...............OR..............

num1, num2, num3 = input("enter three numbers comma separated: ").split(",")
print(f"avrage of three number :{(int(num1) + int(num2) + int(num3)) /3}")ng python3
print(f"hello {name} your age is {23}")     #......using python3.6

SyntaxError: invalid syntax (<ipython-input-17-57ae7743ff1e>, line 19)

In [ ]:
#............excersies............

#..qustion--> ask your to input 3 number and you have to print average of three number using string formatting.

#....Bonus:-- try to take all three comma separeted inputs in one line.

num1 = input("enter the first number: ")
num2 = input("enter the second number: ")
num3 = input("enter the third number: ")
print(f"average of three number : {(int(num1) + int(num2) + int(num3)) /3} ")

#...............OR..............

num1, num2, num3 = input("enter three numbers comma separated: ").split(",")
print(f"avrage of three number :{(int(num1) + int(num2) + int(num3)) /3}")

In [ ]:
#......STRING INDEXING........

language = "java"
print(language[3])

#........TO PRINT A LAST WORD.........

language = "java"
print(language[-2])

In [ ]:
lang = "python"
print(lang[0:4])

In [ ]:
range (start, stop[, step])
range() takes three arguments.
Out of the three 2 arguments are optional. 
I.e., Start and Step are the optional arguments.
A start argument is a starting number of the sequence. 
i.e., lower limit. By default, it starts with 0 if not specified.
A stop argument is an upper limit. i.e.generate numbers up to this number, 
The range()  function doesn‚Äôt include this number in the result.
The step is a difference between each number in the result. 
The default value of the step is 1 if not specified.

In [ ]:
#..........STEP ARGUMENT.........

print("harshit"[1:4:1])
print("harshit"[1::3])
print("harshit"[1:3:3])
print("harshit"[::3])
print("harshit"[2::])
print("harshit"[::])
print("harshit"[-1::-2])
print("harshit"[:-4:-1])

In [ ]:
#...............chapter 3..................
#.......if statement.........


age = input("enter your age : ")
age = int(age)
if age >=20:
    print("you are above 20")

else:
    print("Your age less than 20")
print("you are eligble to this game ")

In [ ]:

#...........pass statement...........

a = 50
if a >49:
    pass

In [ ]:
#............else statement.............

age = input("enter your age : ")
age = int(age)
if age >=20:
    print("line a")
    print("you are above 20")
    print("you are eligble to this game ")
else:
    print("sorry you can't play pubg ")

In [ ]:
#............ nested if else..............

winning_number = 30
user_input = input("guess a number b/w 1 and 100 : ")
user_input = int(user_input)
if user_input == winning_number:
    print("you win !!!") 
    print("\U0001F60D") 
else:                                #.....nested if else.....
    if user_input < winning_number:
        print("lose the game")
    else:
        print("lose the game")

In [ ]:
#...........and or opreator.........

#......and......

name = "shakti"
age = 23
clss = 12
if name=="shakti" and age==23 and clss==12:
    print("condition true")
else:
    print("condition false")
    
#......or.......

name = "shakti"
age = 23
clss = 12
if name=="shakti" or age==30 or clss==12:
    print("condition true")
else:
    print("condition false")

In [ ]:
#..............exercies..............

user_name = input("enter your name : ")
user_age = input("enter your age : ")
user_age = int(user_age)
if user_age >= 15 and (user_name[0]=="a" or user_name[0] =="A"):
    print("you can watch movie ")
else:
    print("you can't watch movie")

In [ ]:
#........if......elif......else........

age = input("please input your age : ")
age = int(age)
if age==0 or age < 0:
    print("you can't watch movie")
elif 0<age<=3:
    print("ticket price : free")
elif 3<age<=10:
    print("ticket price : 150")
elif 11<age<=60:
    print("ticket price : 250")
else:
    print("ticket price : 200")

In [ ]:
fact=int(input("Enter the number"))
ans=1
while fact>0:
    ans=ans*fact
    fact=fact-1
print(ans)

In [ ]:
n=int(input("Enter the number:"))
a=1
if (n==0) or (n==1):
    print("Factorial is 1")
else:
    for i in range(1,n+1):
        a=i*a
    print(f"The factorial of {n} is", a)

In [ ]:
print("pyramid")
a=[]
for i in range(0,5):
    for j in range(0,i+1):
        print("*",end="")
    print(" ")

In [ ]:
row=5
for i in range(0,row):
    for j in range(0,i+1):
        print("*",end='')
    print(" ")

In [ ]:
row=6
for i in range(0,row):
    for j in range(i):
        print(i,end=' ')
    print(" ")

In [ ]:
print("Leap year")
a=2000
if a//4:
    print("leap +year")
else:
    print("It is not leap year")

In [ ]:
num=int(input("enter a number"))
flag=True

if num>1:
    for i in range(2,num):
        if(num%i)==0:
            flag=False
            break
    if flag:
        print("It is prime")
    else:
        print("not prime number")

In [ ]:
i=0
while i<=10:
    print(i)
    i+=1

In [ ]:
row=6
for i in range(1,row):
    for j in range(i):
        print(j,end=' ')
    print(" ")

In [ ]:
fact=int(input("Enter the number"))
ans=1
while fact>0:
    ans=ans+fact
    fact=fact
print(ans)

In [ ]:
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
for item in list1:
    if (item > 150):
        break
    if(item % 5 == 0):
        print(item)

In [ ]:
n=758697845478
count=0
while n!=0:
    n//=10
    count+=1
print("Total digits are",count)

In [ ]:
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(j,end=' ')
    print("\n")

In [ ]:
l=int(input("Enter value of length:"))
b=int(input("Enter value of Breadth:"))
z=l*b
if(l*b):
    print("Area of rectangle",z)

In [ ]:
l=int(input("Enter value of length:"))
b=int(input("Enter value of Breadth:"))
if(l==b):
    print("It is square")
else:
    print("It is not square")

In [ ]:
a=int(input("Enter value of a:"))
b=int(input("Enter value of b:"))
if(a>b):
    print("A is greater than B")
elif(b>a):
    print("B is greater than A")
else:
    print("Both are equal")

In [ ]:
a=int(input())
if(a<25):
    print("Grade F")
elif(a>=25 and a<=45):
    print("Grade E")
elif(a>45 and a<=50):
    print("Grade D")
elif(a>50and a<=60):
    print("Grade C")
elif(a>60 and a<80):
    print("Grade B")
elif(a>80):
     print("Grade A")

else:
     print("Invalid value")

In [ ]:
print=int(input="Enter quantity")
quantity=input()
if quantity*100 > 1000:
    print("cost is",((quantity*100)-(.1*quantity*100)))
else:
    print("cost is",quantity*100)

In [ ]:
q=int(input("enter q"))
if q>1000:
    print("u have discount of 10%")
    print((q*100)-(.1*q*100))
else:
    print("cost is",q*100)

In [ ]:
sal=int(input("enter salary"))
year=int(input("enter year"))
if year>5:
    print("u got bonus of 5%")
    print("your bonus is",sal*105/100)

In [ ]:
first=int(input("Enter first age:"))
second=int(input("Enter second age:"))
third=int(input("Enter third age:"))
if first>=second and first>=third:
    print("oldest is",first)
if second>=first and second>=third:
    print("oldest is",second)
if third>=first and third>=second:
    print("oldest is",third)
else:
    print("All are equal")

In [ ]:
num=int(input("Enter a number"))
if num<0:
    print(num*-1)
else:
    print(num)

In [ ]:
noh=int(input("Number of classes held"))
noa=int(input("Number of classes attended"))
attend=(noa/float(noh))*100
print("Attendence is",attend)
if attend>=75:
    print("You are allowed to sit in exam")
else:
    print("Sorry,you are not allowed.Attend more classes from next time.")

In [ ]:
med=input("Enter 'Y' and 'N' for medical cause:")
atten=int(input("Enter your attendence:"))
if med=='Y':
    print("You are allowed")
elif atten>=75:
        print("Allowed")
else:
        print("Not Allowed")

In [ ]:
user=input("Enter Name:")
for i in user:
    print (i)

In [ ]:
a="refrigerator"
count=0
for i in a:
    count=count+1
print(count)

In [ ]:

print('e' in 'Umbrella')

In [ ]:
print('is' in 'This is orange juice')

In [ ]:
a="Hello,World"
for i in range(len(a)):
    if a[i]=='o':
        print("Position of o are",i)
for j in range(len(a)):
    if a[j]==',':
        print("Position of , are",j)

In [ ]:
a=['a','e','i','o','u','A','E','I','O','U','']
b="Hello,have a good day"
for i in b:
    if i not in a:
        b=b[:b.index(i)]+b[b.index(i)+1:]
        print(b)

In [ ]:
a=["hello,have a good day"]
vowel=['a','e','i','o','u','A','E','I','O','U','']
for i in a:
    if i in vowel:
        print(i,end="")

In [ ]:
s1='abc'
s2='xyz'
for i in s2(::-1):
    print(s2)

In [ ]:
#-----Assignment Questions----
s1=input("Enter a string:")
s2=int(len(s1)//2)
print("Original string is",s1)
mid=s1[s2-1:s2+2]
print("Middle three are",mid)

In [ ]:
s1="Kiran"
s2="Mouraya"
middleindex=int(len(s1)//2)
print("Original string are",s1,s2)
mid=s1[:middleindex:]+s2+s1[middleindex:]
print("After appending new string in middle",mid)

In [ ]:
str="Emma is a data scientist who knows python.Emma works at google."
print('Emma' in str)

In [ ]:
str="Emma-is-a-data-scientist"
print("Original string:",str)
string=str.split("-")
for i in string:
    print(i)

In [ ]:
a=input()
for i in a:
    print(i)

In [ ]:
a="This is orange juice"
print('orange' in a)

In [ ]:
a="Hello,World"
print(a[4])
print(a[5])

In [ ]:
def switch_demo(argument):
    switcher = {
        1: "January",
        2: "February",
        3: "March",
        4: "April",
        5: "May",
        6: "June",
        7: "July",
        8: "August",
        9: "September",
        10: "October",
        11: "November",
        12: "December"
    }
    print switcher.get(argument, "Invalid month")

In [ ]:
name="kiran"
temp_var=""
i=0
while i<len(name):
    if name[i] not in temp_var:
        temp_var+=name[i]
        print(f"{name[i]}:{name.count(name[i])}")
    i+=1

In [ ]:
total=0
for i in range (1,11):
    total+=i
print (total)

In [ ]:
t1=int(input("Enter value:"))
i=0
for i in range(1,11):
    s=i*t1
    print(s)

In [18]:
i=1
j=5
while i<4:
    while j<8:
        print(i,",",j)
        j=j+1
        i=i+1

1 , 5
2 , 6
3 , 7

In [20]:
rows=6
for num in range(rows):
    for i in range(num):
        print(num,end='')
    print("")

1
22
333
4444
55555

In [56]:
rows = 5
for i in range(rows,0,-1):
    for j in range(0, i):
        print(num, end='')
    print("\r")

11111
1111
111
11
1

In [38]:
rows = 6

for row in range(1, rows):

    for column in range(row, 0, -1):

        print(column, end='')

    print("")

1
21
321
4321
54321

In [55]:
print('+""""""""""""+')
print("[|  0   0   |]")
print("|     ^      |")
print("|    '_'     |")
print("+____________+")

+""""""""""""+
[|  0   0   |]
|     ^      |
|    '_'     |
+____________+