In [1]:
# COPYING OF LIST
list1 = [2,5,4,6]
list2 = list1
print(list2)

[2, 5, 4, 6]

In [2]:
# COPYING OF LIST IF IT ALREADY HAS ELEMENTS
list1 = [4,7,8,15]
list2 = [3,7]
list2 = list1
print(list2)

[4, 7, 8, 15]

In [3]:
# COPYING OF 1ST THREE ELEMENTS
list1 = [5,67,34,12,7]
list2 = list1[0:3]
print(list2)

[5, 67, 34]

In [8]:
# COPYING 3RD LAST ELEMENT
list1 = [13,56,7,34,87]
list2 = list1[-3]
print(list2)

7

In [14]:
# FIND SQUARE OF NUMBERS GIVEN IN A LIST (1ST METHOD)
list1 = [1,2,3,4,5,6,7,8,9]
list2 = []
for i in list1:
    square = i * i
    list2.append(square)
print(list2)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [17]:
# FIND SQUARE OF NUMBERS GIVEN IN A LIST (2ND METHOD)
list1 = [i * i for i in range(1,10)]
print(list1)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [19]:
# ADD CORRESPONDING ELEMENTS OF 2 LISTS 
i = 0
list1 = [1,2,3,4]
list2 = [5,6,7,8]
list3 = []
while i < len(list1):
    list3.append(list1[i] + list2[i])
    i = i + 1
print(list3)

[6, 8, 10, 12]

In [20]:
# ADD CORRESPONDING ELEMENTS OF 2 LISTS USING ZIP() FUNCTION
list1 = [1,2,3,4,5,6]
list2 = [7,8,9,10]
list3 = []
for x,y in zip(list1,list2):
    list3.append(x + y)
print(list3)

[8, 10, 12, 14]

In [24]:
# USING POP() FUNCTION TO DELETE 3RD ELEMENT
list1 = [2,6,45,34]
list1.pop(2)
print(list1)

[2, 6, 34]

In [65]:
# USING REMOVE() FUNCTION TO DELETE PARTICULAR ELEMENT
list1 = ["Ronaldo","Messi","Ajay"]
list1.remove("Ajay")
print(list1)

['Ronaldo', 'Messi']

In [34]:
# USING DEL KEYWORD TO DELETE 4TH ELEMENT
list1 = [4,7,34,56,89]
del list1[3]
print(list1)

[4, 7, 34, 89]

In [36]:
# USING DEL KEYWORD TO DELETE 2ND AND 3RD ELEMENT
list1 = [56,75,23,59]
del list1[1:3]
print(list1)

[56, 59]

In [41]:
# CONVERT LIST INTO STRING WITHOUT USING LOOP (STRINGS)
list1 = ["Cristiano", "Ronaldo", "Lionel","Messi"]
string = ' '.join(list1)
print(string)

Cristiano Ronaldo Lionel Messi

In [46]:
# CONVERT LIST INTO STRING WITHOUT USING LOOP (INTEGERS)
list1 = [34,56,23,89]
string =  str(list1).strip('[]')
print(string)

34, 56, 23, 89

In [48]:
# CONVERT LIST INTO STRING USING LOOP
list1 = ["Cristiano","Ronaldo","Lionel","Messi"]
string = ' '.join(str(i) for i in list1)
print(string)

Cristiano Ronaldo Lionel Messi

In [52]:
# CHECK IF LIST CONTAINS AN ELEMENT
list1 = [24,5,74,37,92]
37 in list1

True

In [57]:
# ITERATE OVER MORE THAN 2 LISTS AT THE SAME TIME
list1 = ["Snowball","Chewy","Bubbles","Gruff"]
list2 = ["Cat","Dog","Fish","Goat"]
list3 = [1,2,2,6]
for x,y,z in zip(list1,list2,list3):
    print(f"{x} is {y} whose age is {z}")

Snowball is Cat whose age is 1
Chewy is Dog whose age is 2
Bubbles is Fish whose age is 2
Gruff is Goat whose age is 6

In [62]:
# PYTHON LISTS STORES POINTERS
print(id(1))
print(id(2))
list1 = [1,2,3]
print(id(list1))
print(id(list1[0]))

140705219094304
140705219094336
1249036905856
140705219094304

In [70]:
# REMOVE DUPLICATES FROM LIST USING SET() FUNCTION
list1 = [1,3,4,2,1,4,3,5,6]
print(set(list1))             # CONVERTED TO A SET
print(list(set(list1)))       # CONVERTED TO A LIST

{1, 2, 3, 4, 5, 6}
[1, 2, 3, 4, 5, 6]

In [76]:
# FIND INDEX OF 1ST MATCHING ELEMENT USING INDEX() METHOD
list1 = ["Orange","Apple","Banana","Pear","Apple"]
list1.index("Apple")

1

In [77]:
# REMOVE ALL ELEMENTS FROM LIST USING CLEAR()
list1 = [13,45,76,2]
list1.clear()
print(list1)

[]

In [79]:
# REMOVE ALL ELEMENTS FROM LIST USING DEL
list1 = [13,45,76,2]
del list1[:]
print(list1)

[]

In [83]:
# ITERATE OVER BOTH THE VALUES AND INDICES IN A LIST
list1 = ["Cristiano","Ajay","Messi"]
for x,y in enumerate(list1):
    print(x,y)

0 Cristiano
1 Ajay
2 Messi

In [84]:
# CONCATENATE 2 LISTS
list1 = [1,2,3,4]
list2 = [4,5,6,7]
print(list1 + list2)

[1, 2, 3, 4, 4, 5, 6, 7]

In [85]:
# MANIPULATE EVERY ELEMENT IN A LIST
list1 = [34,56,23,1,5]
x = [i * 10 for i in list1]
print(x)

[340, 560, 230, 10, 50]

In [86]:
# COUNT THE OCCURRENCE OF SPECIFIC OBJECT IN A LIST USING COUNT()
list1 = [23,45,23,12,56,23,99]
list1.count(23)

3

In [92]:
# SHALLOW COPY A LIST USING COPY()
list1 = [1,2,3,4,5]
list2 = list1.copy()
list2.pop(2)
print(list1)
print(list2)

[1, 2, 3, 4, 5]
[1, 2, 4, 5]