In [ ]:
 my_list=[1,2,3]
print(my_list)
my_list.append([555,123])
print(my_list)
my_list.insert(5,[5,   "shruti"])

print(my_list)

In [ ]:
s3=0
s1="Hello"
s2="World"
print (s1)
print(s2)
s3=s1[0:3]+s2[0:5]+s1[3:5]
print(s3)

In [12]:
str1 = "Emma is a data scientist who knows Python. Emma works at google."
index = str1.find("Emma")
print("occurrence of Emma starts at", index)

occurrence of Emma starts at 0

In [13]:
str1 = "Emma25 is Data scientist50 and AI Expert"
str1.isalpha()
print(str1)

Emma25 is Data scientist50 and AI Expert

In [14]:
str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]
while "" in str_list:
    str_list.remove("")
    print(str_list)

['Emma', 'Jon', 'Kelly', None, 'Eric', '']
['Emma', 'Jon', 'Kelly', None, 'Eric']

In [15]:
str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]
n_list=[]
for x in str_list:
 if (x != ""):
        n_list.append(x)
        print(n_list)

['Emma']
['Emma', 'Jon']
['Emma', 'Jon', 'Kelly']
['Emma', 'Jon', 'Kelly', None]
['Emma', 'Jon', 'Kelly', None, 'Eric']

In [16]:
str1 = "Emma-is-a-data-scientist"
print("Original String is:", str1)

# split string
su = str1.split("-")

print("Displaying each substring")
for sub in su:
    print(sub)

Original String is: Emma-is-a-data-scientist
Displaying each substring
Emma
is
a
data
scientist

In [17]:
numbers = [10, 20]
items = ["Chair", "Table"]

for x in numbers:
    for y in items:
        print(x, y)

10 Chair
10 Table
20 Chair
20 Table

In [18]:
a, b = 12, 5
if a + b:
    print('True')
else:
    print('False')

True

In [19]:
if (-3):

SyntaxError: unexpected EOF while parsing (<ipython-input-19-5a2ddcdd5897>, line 1)

In [ ]:
a=int(input("enter the year"))
if (a % 4==0):
    print("it is leap year",a)
else:    
          print("it is not leap year",a)

In [ ]:

a=int(input("user to enter age"))
gender= input("enter the gender (M or F)",)
c=input("enter the marital status ( Y or N ) ",)
if (gender=="F"):
    print("she will work only in urban areas.",a,gender)
elif (gender=="M" and a>=20 and a<=40):
    print("he may work  in anywhere.",a,gender)
elif (gender=="M" and a>=40and a<=60):
    print("he may work  in urban areas only.",a,gender)
else:
    print("Error")

In [ ]:
a=int(input("enter the number"))
if()
a.reverse[:-1]

print (a)

In [ ]:
name="Neetu"
temp_var=""
i = 0
while i<len(name):
    if name[i] not in temp_var:
        temp_var +=name[i]
        print(f"{name[i]}: {name.count(name[i])}")
    i +=1

In [ ]:
name="kulbir"
for x in range(len(name)):
    
    print(name[x])

In [ ]:
b=int(input("enter the number"))
for x in range(1,11):
    print(b * x)

In [ ]:
for val in range(5):
    print(val)
else:
print("The loop has completed execution")

In [ ]:
i=1
j=5
while i<4:
    while j<8:
        print(i,", ",j)
        j=j+1

In [ ]:
rows=6
for num in range(rows):
    for i in range(num):
        print(num,end=" ")
    print("")

In [ ]:
rows=6
for num in range(rows):
    for num in range(num):
        print(num,end=" ")
    print("")

In [ ]:
rows=5
for num in range(1,rows):
    for i in range(rows,0,-1):
         print(i,end=" ")
    print(" ")

In [ ]:
print('+""""""""+')
print("[|  o o | ]")
print(" |  /\  | ")
print(" |  '_' | ")
print(" +------+ ")

In [ ]:
t=[12,24,36,48,60,72,84,96,120]
for x in t:
    x=(t+(x+1)*2)
    print(x)

In [ ]:
table_12=[]

for i in range(1,121):

    if i % 12==0:

        table_12.append(i)

print(table_12)

#Print multiplication table of 14 from a list in which multiplication table of 12 is stored.

table_14=[]

for i in table_12:

     i=i+2

table_14.append(i)

print(table_14)

In [ ]:
table_12=[] 
for i in range(1,121): 
    if i % 12==0: 
        table_12.append(i) 
print(table_12)

# [12, 24, 36, 48, 60, 72, 84, 96, 108, 120]


table_14=[] 
for i, j in enumerate(table_12):
    table_14.append(j+(i+1)*2)

print(table_14)

In [ ]:
n=input("enter the list value")
print(n)
user=n.split()
print("list:",user)

In [39]:
number=[]
n=int(input("enter number of elements in the list "))

for i in range(n):
    number.append(int(input()))
findnum=int(input("enter delete element from list"))
i=0
for element in number:
    if(element==findnum):
        number.pop(i)
        n=n-1
        i=i-1
    i=i+1
    
    
print(number)

enter number of elements in the list 3
12
23
45
enter delete element from list23
[12, 45]

In [41]:
numbers=[1,2,3,4,5,6,7,8,9]
for x in numbers:
    print(x**2)

1
4
9
16
25
36
49
64
81

In [1]:
numbers=[]
x=int(input("enter the number of element in the list"))
for i in range(x):
    
    numbers.append(int(input()))
    for element in numbers:
        print(element**2)

enter the number of element in the list3
2
4
5
4
25
6
4
25
36

In [2]:
numbers=int(input("enter the number of element in the list"))
for x in numbers:
    print(x**2)

enter the number of element in the list4

TypeError: 'int' object is not iterable