In [4]:
#1. Check if a list contains an element
li = [1,2,3,'a','b','c']
'm' in li

True

In [7]:
#2. How to iterate over 2+ lists at the same time
name = ['Snowball', 'Chewy', 'Bubbles', 'Gruff']
animal = ['Cat', 'Dog', 'Fish', 'Goat']
age = [1, 2, 2, 6]
z = zip(name, animal, age)
for name,animal,age in z:
    print("%s the %s is %s" % (name, animal, age))

Snowball the Cat is 1
Chewy the Dog is 2
Bubbles the Fish is 2
Gruff the Goat is 6

In [60]:
#8. What does “del” do?
a = ['w', 'x', 'y', 'z']
del a[2]
print(a)

['w', 'x', 'z']

In [55]:
#9 What is the difference between “remove” and “pop”?
a = ['a', 'a', 'b', 'b', 'c', 'c']
a.pop(2)

'b'

In [51]:
#9 What is the difference between “remove” and “pop”?
a = ['a', 'a', 'b', 'b', 'c', 'c']
a.remove('b')
print(a)

['a', 'a', 'b', 'c', 'c']

In [49]:
#10. Remove duplicates from a list


li = [3, 2, 2, 1, 1, 1]
list(set(li))

[1, 2, 3]

In [20]:
#11. Find the index of the 1st matching element
fruit = ['pear', 'orange', 'apple', 'grapefruit', 'apple', 'pear']
fruit.index('apple')

2

In [26]:
#12. Remove all elements from a list
fruit = ['pear', 'orange', 'apple', 'grapefruit', 'apple', 'pear']
fruit.clear()
print(id(fruit))

1561938582272

In [28]:
#12. Remove all elements from a list
fruit = ['pear', 'orange', 'apple']
print( fruit )     
print( id(fruit) )
del fruit[:]

['pear', 'orange', 'apple']
1561938181696

In [36]:
#13. Iterate over both the values in a list and their indices


grocery_list = ['flour','cheese','carrots']
for i,val in enumerate(grocery_list):
    print("%s: %s" % (i, val))

0: flour
1: cheese
2: carrots

In [33]:
#14. How to concatenate two lists



one = ['a', 'b', 'c']
two = [1, 2, 3]
one + two

['a', 'b', 'c', 1, 2, 3]

In [37]:
#15. How to manipulate every element in a list with list comprehension

li = [0,25,50,100]
[i+1 for i in li]

[1, 26, 51, 101]

In [39]:
#16. Count the occurrence of a specific object in a list
pets = ['dog','cat','fish','fish','cat']
pets.count('fish')

2

In [43]:
#17. How to shallow copy a list?
round1 = ['chuck norris', 'bruce lee', 'sonny chiba']
round2 = round1.copy()
round2.remove('sonny chiba')
print(round1)
print(round2)

['chuck norris', 'bruce lee', 'sonny chiba']
['chuck norris', 'bruce lee']

In [48]:
#19. How to deep copy a list?


round1 = [
    ['Arnold', 'Sylvester', 'Jean Claude'],
    ['Buttercup', 'Bubbles', 'Blossom']
]
import copy
round2 = copy.deepcopy(round1)
round2[0][0] = 'Jet Lee'
print(round1)

[['Arnold', 'Sylvester', 'Jean Claude'], ['Buttercup', 'Bubbles', 'Blossom']]

In [61]:
#22. Return the length of a list
li = [[1,2],[3,4,5]]
len(li)

2

In [63]:
#24. How to check if an element is not in a list?


li = [1,2,3,4]
5 not in li

True

In [69]:
#25. Multiply every element in a list by 5 with the map function
def multiply_5(val):
    return val * 5
a = [10,20,30,40,50]
[val for val in map(multiply_5, a)]

[50, 100, 150, 200, 250]

In [70]:
#26. Combine 2 lists into a list of tuples with the zip function
alphabet = ['a', 'b', 'c']
integers = [1, 2, 3]
list(zip(alphabet, integers))

[('a', 1), ('b', 2), ('c', 3)]

In [73]:
#27. Insert a value at a specific index in an existing list


li = ['a','b','c','d','e']
li.insert(2, 'HERE')
print(li)

['a', 'b', 'HERE', 'c', 'd', 'e']

In [12]:
#50. What is the difference between sort and sorted?
li = [10,1,9,2,8,3,7,4,6,5]
li.sort()

In [8]:
#51. Return the minimum value in a list
li = [10,1,9,2,8,3,7,4,6,5]
min(li)

1

In [9]:
#52. Return the maxmum value in a list
li = [10,1,9,2,8,3,7,4,6,5]
max(li)

10

In [10]:
#53. Return the sum value in a list
li = [10,1,9,2,8,3,7,4,6,5]
sum(li)

55