In [ ]:
print("hello")

In [ ]:
print('hello')

In [ ]:
print('hello "hello"ok')

In [ ]:
print("hello new\"wolerld")

In [ ]:
print('i\'m twinkle')

In [ ]:
print("name \t twinkle")

In [ ]:
print("line1 \n line2")

In [ ]:
print("backslash\\\\")

In [ ]:
print("hel\bllo")

In [ ]:
print("/\\/\\/\\/\\/\\\/\\")

In [ ]:
print("he is \t twinkle")

In [ ]:
print("\\" "\t" "\\t"  "\t" "\\n" "\t" "\\''")

In [ ]:
print(r"linea \n \tlineb")

In [ ]:
print(round(2**0.5,4))

In [ ]:
num1=2
print(num1)
num1=3
print(num1)
name="twinkle"
print(name)
name="12334567890"
print("name")

In [ ]:
print("user_of_then")
print(("herwuygtrye"))

In [ ]:
name,age ="twinkle", 22
print("my is "+name+"name" +str(age)+ "of" )

In [ ]:
name,age ="twinkle", 22
print("my is " " "+name+ " ""name" " "  +str(age)+ " " "of" )

In [ ]:
z="twinkle  "
y="ghusain"
p=z+y
print(p)

In [ ]:
z="hucdh"
y="dhghids"
uu=z+y
print(uu)
print(uu+"3")
print(uu+str(6))
print(uu*3 )

In [ ]:
num1=int(input("enter no one:"))
num2=int(input("enter two no"))
sum=num1+num2
print("sum of two no" ,sum)

In [ ]:
name="twinkle"
print(name[5])

In [ ]:
year=int(input("enter year"))
if year%4==0  and year%100==0 or year%400==0:
     print("leap year")
else:
    print(" notleap year")

In [ ]:
a=0
b=1
for i in range(1,10):
    print(a)
    sum=a+b
    a=b
    b=sum

In [1]:
count = 0


while True:
    print(count)
    count+=1
    if count >=7:
         break

0
1
2
3
4
5
6

In [ ]:
for no in  range(10,100):
  if no%2==0:
      print("no is odd",no)

In [ ]:
for no in range(10,100):
 if no%2==0:
        print("no is odd",no)
else:
     print("no is even",no)

In [ ]:
table=int(input("enter table no"))
for i in range(1,11):
    print(table,'*',i,"*",table*i)

In [ ]:
for i in range(10):
  print(i)

In [4]:
no=[9,8,7,6,5,4,3,3,2]
sum =0
for i in no:
    sum=sum+i
    print(i)

9
8
7
6
5
4
3
3
2

In [6]:
no=[9,8,7,6,5,4,3,3,2]
for i in range(len(no)):
    sum=sum+i
    print(i)

0
1
2
3
4
5
6
7
8

In [ ]:
run=('twinkle','34','riya','pooja')
for i in run:
    print(i,len(i))

In [ ]:
num=7889
count=0
while num !=0:
     num //= 10
     count +=1
     print(count)

In [ ]:
list=[1,2,3,4,5,6,7,8,9]
list.reverse()
print(list)

In [ ]:
total=0
i=1
while i<10:
    print(i)
    i +=1

In [ ]:
num =6
for i in range(1,num):
    for j in range(1,num):
        print(j,end=' ')
        print(" ")

In [ ]:
list=[12,15,32,42,55,75,122,132,150,180,200]
for i in list:
    if (i<150):
           break
    if (i %5==0):
        print(i)

In [ ]:
first=0
num=int(input("enter no"))
for i in range(1,num+1,1):
    first+=i  
    print(first)

In [ ]:
name="twinkle"
print("twinkle"[5])

In [ ]:
print("twinkle"[1:4:3])
print("twinkle"[:6:1])
print("killotg"[:2:3])

In [ ]:
age =int(input("enter no"))
if age <= 37:
   print("old men")
else:
 print("new men") 
print("both are pgl")

In [ ]:
win_no=30
num = int(input("no 1 to 100 :"))
if num == win_no: 
  print("your win")
else:
 print("your lose")
print("missing no")

In [ ]:
no=int(input("passing no"))
if no >= 35:
  print("you are pass")
else:
 print("you are fail")

In [ ]:
name=  "twinkle"
dots=".........."

print(name+dots)
print(name.rstrip()+dots)

In [ ]:
ap=input("ennter a allphabate")
         
if (ap =='a' or  ap=='i'or ap=='e' or ap=='o'or ap=='u'):
  print("its  a vowel")
else:
 print("constant")

In [7]:
ascii=input("|enter ascci value :")
print("ascii value" +ascii+ " of" ,ord(ascii))

|enter ascci value :h
ascii valueh of 104

In [8]:
a=input("valuse")
print(ord(a))

valusea
97

In [9]:
num1=int(5)
num2=float(6)
print(num1+num2)

11.0

In [ ]:
name,age= "twinkle" , "23"
print("hello" +name+ "or " +age )
a=b=d=5
print(a+b+d)

In [ ]:
list=['tinu' , 56 ,'neha',98.50]
chotilist= [67 ,'tinu']
print(list)
print(list + chotilist)
print(list[2:4])
print(list * 3)

In [ ]:
tuple=(94,78,68,8,9,78,9)
list=[94,68,8,9,78,9]
tuple=300
list.extend([('785')])
list.append('kiran')
list.insert(0,"main")
print(list)
print(tuple)

In [ ]:

tuple=()
tuple1=(2,3,4)
tuple2=('gdjc','hgfej')
tuple3=(tuple1,tuple2)
print(tuple3)
print(tuple)
print(tuple1)
print(tuple2)
tuple=('dance')
if  tuple >=5:
    print('tuples with loops')
for i in range(int(tuple)):
    tuple1=(tuple2,)
    print(tuple2)

In [ ]:
list=[]
print(list)
list=['pgl',47,678.90,'riya']
print(list)
list.append('pooja')
list.extend('yashika')
list.insert(2,'pihu')
print('list update',list)

In [ ]:
for i in range(1,100,2):
 print("enter no",i)
for n in range (2,101,2):
 print("enter no",n)

In [ ]:
for i in range(-10,0,1):
    print(i)

In [ ]:
for i in range(5):
    print(i)
else:
    print("done")

In [ ]:
list=[10,20,30,40,50,60,70,80,90,100]
for i in list[1::2]:
      print(i)

In [ ]:
dict={}
dict['one']="this is one"
this_dict={'code':"7837" , 'name':'kiran','year':789} 
print(this_dict)
print(this_dict['code'])
print(len(this_dict))
print(type(this_dict))

In [ ]:
num=6
for i in range(1,num+1):
    print(i*i*i)

In [ ]:
fab=int(input("enter series:"))
num1=1
num2=2
count=0
if fab <=0:
 print("geater series")
elif fab==1:
 print("it is fab seress upto",fab,":")
 print(num1)
else:
 print("fabonic series")
while count <fab:
    temp=num1+num2
    num1=num2
    count+=1

In [ ]:
num=5
first=2
sum=0
for i in range(0,num):
    print(first,end=" ")
    sum += first
    first = (first *10) + 2
print (sum)

In [ ]:
tuple=(94,78,68,8,9,78,9)
list=[94,68,8,9,78,9]
tuple=300
list.extend([('785')])
list.append('kiran')
list.insert(0,"main")

print(list)

In [ ]:
list=[12,15,32,42,55,75,122,132,150,180,200]
for i in list:
    if (i>150):
        break
    if (i % 5 == 0):
        print(i)

In [ ]:
first=0
num=int(input("enter no"))
for i in range(1,num+1,1):
    first+=i  
    print(first)

In [ ]:
age=int(input("age"))
if age == 0 or  age <0:
    print("invalid")
elif 0<age<10:
    print("free")
elif 11<age<60:
        print("250")
else:
    print("200")

In [ ]:
num1=232
num2=876
sum=num1 - num2
print("sum of two no :",num1,num2, sum)

In [ ]:
num=6
for i in range(1,num):
    for j in range(1,i+1):
        print(j,end='')
    print(" ")

In [ ]:
num=5
for i in range(0,num+1):
    for j in range(num-i,0,-1):
        print(j,end='')
    print(" ")

In [ ]:
first=0
num=int(input("enter no"))
for i in range(1,num+1,1):
    first+=i  
    print(first)

In [ ]:
list=[12,15,32,42,55,75,122,132,150,180,200]
for i in list:
    if (i>150):
        break
    if (i % 5 == 0):
        print(i)

In [ ]:
 num=75869
count=0
while num != 0:
     num //= 10
     count += 1
     print(count)

In [ ]:
age=input("enter your age:")
age=int(age)
if age>=20:
 print("you are above 20")
else:
     print("your age is less than20")
print("your are eleigeable to this gae")

In [ ]:
age=input("enter your age")
age=int(age)
if age >=20:
    print("line a")
    print("you are above 20")
    print("you are eligiabl5e to this gae")
else:
    print("sorrey you cant play")

In [ ]:
num=int(input("enter no"))
print("num")
if num ==0:
    
    print("no is odd")
else:
    print("no is even")

In [ ]:
lenght =int(input("enter lenght"))
breath=int(input("enter breath"))
if  lenght  == breath:
     print("equal hai ") 
else:
     print("nahi hai")

In [ ]:
value1 =int(input("enter lenght"))
value2 =int(input("enter lenght"))
if  value1 > value2:
    print("greater")
else:
           print("lower")

In [ ]:
qu=int(input("price"))
d=qu*100//0.10
if qu<=10:
     print("discount")
else:
    print("nahi hai")

In [ ]:
ite=int(input("enter no"))
ks=100
av=ite*100//ks
if ite >80 :
     print("garde a")
elif ite >=60 and ite <=70:
     print("grade b")
elif ite >70 and ite <=80:
     print("grade c")
else:
    print("enter sab fail hai")

In [ ]:
num=int(input("enter no"))
num2=int(input("enter"))
num3=int(input(""))
if num ==num2 and num2 == num3:
     print("equal")
if num2 >= num :
     print( "grater")
else:
     print("less")      
if num3 <=num2:
     print("num")
else:
      print("enter sab fail hai")

In [ ]:
name="s h u r t i"
for i in name:

        print(i)

In [ ]:
name="refrigeter"
count=0
for i in name:
    count=count+1
print(count)

In [ ]:
print ("e" in "unbrella")

In [ ]:
print ("orange" in "orange jucie")

In [ ]:
a="this is ornage juice"
print ("orange" in a.split())

In [ ]:
 a="hello world"
for i in range(len(a)):
    if a[i]=='o':
          print(i)

In [ ]:
 a="hello world"
for i in range(len(a)):
    if i=='h':
        count=count +1
        print(a)

In [ ]:
i=0
while i<=5:
    print(i)
    i+=1

In [ ]:
n=5
for i in range(1,n):
    for j in range(1,i+1):
        print(j,end='')
    print("")

In [12]:
p=5
for i in range(1,10,1):
       n =p *i
       print(p,i,n)

5 1 5
5 2 10
5 3 15
5 4 20
5 5 25
5 6 30
5 7 35
5 8 40
5 9 45

In [ ]:
n-input("")
if n<0:
    print()
    e

In [13]:
#range
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [20]:
w=[1,2,3,4,4,5,6,7,30,8,9,6]
a=[i for i in w if isinstance(i,int)]
b=[]
c=[]
if i in w:

SyntaxError: unexpected EOF while parsing (<ipython-input-20-2e3f97b49041>, line 6)

In [22]:
#print table
n=14
for i in range(1,11):
   print(n,i,n*i)

14 1 14
14 2 28
14 3 42
14 4 56
14 5 70
14 6 84
14 7 98
14 8 112
14 9 126
14 10 140

In [ ]:
#1. Check if a list contains an element