In [1]:
row=5
for i in range(1,row+1):
    for j in range(1, i+1):
        print(j,end=' ')
    print(" ")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [5]:
row=6
for num in range(1,row):
    for i in range(num):
        print(num,end=" ")
    print(" ")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [6]:
rows = 5
for i in range(0,rows+1):
    for j in range(rows-i,0,- 1):
        print(j, end=' ')
    print(" ")

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [16]:
rows = 6
for i in range(1, rows):
    num = 1
    for j in range(rows, 0, -1):
        if j > i:
            print(" ", end=' ')
        else:
            print(num, end=' ')
            num += 1
    print("")

          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5

In [31]:
rows = 6

for row in range(1, rows):

    for column in range(row, 0, -1):

        print(column, end=' ')

    print(" ")

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [32]:
rows = 5

for i in range(rows, 0, -1):

    for j in range(0, i + 1):

        print(j, end=" ")

    print(" ")

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [45]:
num=1
stop=2
rows = 3 

for i in range(rows):
    for column in range(1, stop):
        print(num, end=" ")
        num +=1

    print(" ")
    stop +=2

1
2 3 4
5 6 7 8 9

In [48]:
rows = 6

for i in range(1, rows + 1):

    for j in range(1, i -1):

        print(j, end=" ")

    for j in range(i - 1, 0, -1):

        print(j, end=" ")

    print()

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [70]:
rows = 6

for i in range(0, rows):

    for j in range(rows-1, i,-1):

        print(j, end="")

    for l in range(i):

        print(end="")

    for k in range(i + 1, rows):

        print(k,end="" )

    print(" ")

5432112345
54322345
543345
5445
55

In [21]:
rows = 5
for i in range(1, rows + 1):
    for j in range(1, rows + 1):
        if j <= i:
            print(i, end=' ')
        else:
            print(j, end=' ')
    print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [25]:
row=5
for i in range(1,row+1):
    for j in range(1, i+1):
        print("*",end=' ')
    print(" ")

*
* *
* * *
* * * *
* * * * *

In [24]:
rows = 5
for i in range(rows + 1, 0, -1):
    
    for j in range(0, i - 1):
       
        print("*", end=' ')
    print(" ")

* * * * *
* * * *
* * *
* *
*

In [27]:
rows = 6
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print(" ")

print(" ")

for i in range(rows + 1, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print(" ")

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [28]:
rows = 5
k = 2 * rows - 2
for i in range(rows, -1, -1):
    for j in range(k, 0, -1):
        print(end=" ")
    k = k + 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print("")

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [87]:
# LOOPS
list=[1,2,3,4,5]
for i in list:
    print(i)

1
2
3
4
5

In [88]:
num = int(input("Enter the number: "))

print("Multiplication Table of", num)
for i in range(1, 11):
   print(num,"X",i,"=",num * i)

Enter the number: 1
Multiplication Table of 1
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10