In [3]:
#factorial
num = int(input("Enter a number: "))  
factorial = 1  
if num < 0:  
     print("Sorry, factorial does not exist for negative numbers")  
elif num == 0:  
   print("The factorial of 0 is 1")  
else:  
   for i in range(1,num + 1):  
       factorial = factorial*i  
   print("The factorial of",num,"is",factorial)

Enter a number: 6
The factorial of 6 is 720

In [29]:
#prime
num = int(input("Enter a number: "))  
  
if num > 1:  
   for i in range(2,num):  
       if (num % i) == 0:  
           print(num,"is not a prime number")  
           print(i,"times",num//i,"is",num)  
           break  
   else:  
       print(num,"is a prime number")  
         
else:  
   print(num,"is not a prime number")

Enter a number: 1
1 is not a prime number

In [3]:
#prime
num=int(input("enter a number"))
if num>1:
    for i in range(2,num):
        if(num%i)==0:
            print(num,"is not prime")
            print(i,"*",num//i,"is",num)
            break
    else:
        print(num,"is prime")
else:
        print(num,"is not prime")

enter a number7
7 is prime

In [6]:
#leap year
year = int(input("Enter a year: "))  
if (year % 4) == 0:  
   if (year % 100) == 0:  
       if (year % 400) == 0:  
           print("{0} is a leap year".format(year))  
       else:  
           print("{0} is not a leap year".format(year))  
   else:  
       print("{0} is a leap year".format(year))  
else:  
   print("{0} is not a leap year".format(year))

Enter a year: 2014
2014 is not a leap year

In [12]:
#armstrong
num = int(input("Enter a number: "))  
sum = 0  
a = num  
  
while a > 0:  
   digit = a % 10  
   sum += digit ** 3  
   a //= 10  
  
if num == sum:  
   print(num,"is an Armstrong number")  
else:  
   print(num,"is not an Armstrong number")

Enter a number: 123
123 is not an Armstrong number

In [4]:
i=0
while i<=10:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9
10

In [5]:
#square
a=int(input("enter 1st number"))
b=int(input("enter 2nd number"))
if a==b:
    print("it is square")
else:
 print("not square")

enter 1st number5
enter 2nd number7
not square

In [6]:
a=int(input("enter number"))
b=int(input("enter number"))
if a<b:
    print("b is greater")
elif b<a:
    print("a is greater")

enter number6
enter number9
b is greater

In [8]:
#discount
q=int(input("enter quantity"))
if q>1000:
    print("u have discount of 10%")
    print((q*100)-(.1*q*100))
else:
    print("cost is",q*100)

enter quantity2000
u have discount of 10%
180000.0

In [9]:
#bonus
sal=int(input("enter salary"))
year=int(input("enter year"))
if year>5:
    print ("u got bonus of 5%")
    print ("your bonus is",sal*105/100)

enter salary5000
enter year6
u got bonus of 5%
your bonus is 5250.0

In [10]:
#studentgrade
marks=int(input("enter marks"))
if marks<25:
    print("fail!!!!")
elif marks>=25 and marks<=45:
    print("your grade is E")
elif marks>45 and marks<=50:
    print("your grade is D") 
elif marks>50 and marks<=60:
    print("your grade is C")
elif marks>60 and marks<=80:
    print("your grade is B")
elif marks>80:
    print("your grade is A")

enter marks78
your grade is B

In [11]:
#younger and oldest among three persons
a=int(input("enter age of first person"))
b=int(input("enter age of second person"))
c=int(input("enter age of third person"))

if a>=b and a>=c:
    print("first person is oldest")
elif a<b and a<c:
    print("first is younger")
if b>=a and b>=c:
    print("second person is oldest")  
elif b<a and b<c:
    print("second is younger")    
if c>=b and c>=a:
    print("third person is oldest")  
elif c<b and c<a:
    print("first is younger")

enter age of first person5
enter age of second person7
enter age of third person8
first is younger
third person is oldest

In [ ]:
held_lec=int(input("enter held lectures"))
attend_lec=int(input("enter attend lectures"))
atten=(attend_lec/held_lec*100)
print("your attendence",atten)
if atten>=75:
     print("allowed")
else:
    print(" not allowed")

In [ ]:
held_lec=int(input("enter held lectures"))
attend_lec=int(input("enter attend lectures"))
atten=(attend_lec/held_lec*100)
print("your attendence",atten)

print ("Medical cause? Y or N")
medical_cause =(input(" Y or N: "))
if medical_cause == 'Y':
  print ("You are allowed")
else:
  if atten>=75:
    print ("Allowed")
  else:
    print ("Not allowed")

In [2]:
#palindrome
a=int(input("enter number")) 
b=a 
count=0 
while(a>0): 
    dig=a%10 
    count=count*10+dig 
    a=a//10 
if(b==count): 
        print("number is palindrome") 
else: 
        print("number is not palindrome")

enter number121
number is palindrome

In [4]:
#table -for
b=int(input("enter number"))
for i in range(1,11):
    print(b*i)

enter number5
5
10
15
20
25
30
35
40
45
50

In [5]:
for x in range(10):
    if x % 2 == 0:
        continue
    print(x)

1
3
5
7
9

In [6]:
row=5
for i in range(1,row+1):
    for j in range(1, i+1):
        print(j,end=' ')
    print(" ")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [8]:
num=int(input("enter number"))
ans=1
while num>1:
    ans=ans+num
    num=num-1
print(ans)

enter number1
1

In [9]:
list=[12,15,32,42,55,75,122,132,150,180,200]
for item in list:
    if(item > 150):
        break
    if(item%5==0): 
        print(item)

15
55
75
150

In [10]:
num=75896
count=0
while num!=0:
    num//=10
    count+= 1
print("total number",count)

total number 5

In [11]:
row=5
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(j,end=' ')
    print(" ")

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1