In [ ]:
name=input("enter")
temp_var=""
i=0
while i<len(name):
    if name[i] not in temp_var:
        temp_var+=name[i]
        print(f"{name[i]}:{name.count(name[i])}")
    i+=1

In [ ]:
total=0
for i in range(1,11):
    total+=i
print(total)

In [ ]:
a=input("enter")
a=int(a)
for i in range(1,11):
    print(a*i)

In [ ]:
i=1
j=5
while i < 4:
    while j<8:
        print(i,"",j)
        j+=1

In [34]:
for i in range(5,0,-1):
    for k in range(i,5):
        print(" ",end="")
    for j in range(1,i+1):
        print(i,end="")
    print("")

55555
 4444
  333
   22
    1

In [17]:

for i in range(1,6):
    for k in range(i,5):
        print(" ",end="")
    for j in range(1,i+1):
        print(j,end="")
    print("")

    1
   12
  123
 1234
12345

In [9]:
 rows=6
for j in range(rows):
    for i in range(i):
        print(i,end="")
    print("")

01234
0123
012
01
0

In [13]:

for i in range(5,0,-1):
    for k in range(4,0,-1):
            print("",end=" ")
            for j in range(5,i-1,-1):
                print(j,end="")
    print("")

 5 5 5 5
 54 54 54 54
 543 543 543 543
 5432 5432 5432 5432
 54321 54321 54321 54321

In [1]:
rows=6
for i in range(rows):
    for j in range(0,i,-1):
        print(i,end="")
    print("")

In [55]:
rows=6
for i in range(rows):
    for j in range(i,0,-1):
        print(j,end="")
    print("")

1
21
321
4321
54321

In [63]:
for i in range(1,6):
    for j in range(5,i-1,-1):
        print(i,end="")
    print("")

11111
2222
333
44
5

In [66]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end="")
    print("")

1
12
123
1234
12345

In [68]:
for i in range(5,0,-1):
    for j in range(0,i):
        print(i,end="")
    print("")

55555
4444
333
22
1

In [72]:
for i in range(5,0,-1):
    for j in range(0,i):
        print("5",end="")
    print("")

55555
5555
555
55
5

In [81]:
for i in range(1,6):
    for j in range(i,0,-1):
        print(j,end="")
    print("")

1
21
321
4321
54321

In [92]:
for i in range(0,6):
    for j in range(i,6):
        print(j,end="")
    print("")

012345
12345
2345
345
45
5

In [25]:
for i in range (1,6):
    for k in range(i,5):
        print(" ",end="")
    for j in range(1,i+1):
        print("*",end=" ")
    print(" ")

    *
   * *
  * * *
 * * * *
* * * * *

In [67]:
for i in range (1,6):
    for j in range(1,i+1):
        print(j,end="")
    for k in range(i-1,0,-1):
        print(k,end="")
    print("")

1
121
12321
1234321
123454321

In [50]:
for i in range (0,6):
    for j in range(5,i,-1):
        print(j,end="")
    for k in range(i+1,6):
        print(k,end="")
    print("")

5432112345
54322345
543345
5445
55

In [68]:
c=1
s=2
for i in range (3):
    for j in range (1,s):
        print(c,end="")
        c+=1
    print("")
    s+=2

1
234
56789

In [71]:
 for i in range (1,6):
        for j in range (1,6):
            if j<=i:
                print(i,end="")
            else:
                print(j,end="")
        print()

12345
22345
33345
44445
55555

In [73]:
l=[1,2,3,4,5,]
for i in l:
    print(i)

1
2
3
4
5

In [75]:
l[]=input("r")

SyntaxError: invalid syntax (<ipython-input-75-6af0de727a90>, line 1)

In [86]:
i=5
l=[]
while i>0:
    n=input("enter")
    l.append(n)
    i-=1
    print (l)
m=input("enter")
for m in l:
    l.remove(m)
print(l)

enter1
['1']
enter2
['1', '2']
enter3
['1', '2', '3']
enter4
['1', '2', '3', '4']
enter5
['1', '2', '3', '4', '5']
enter1
['2', '4']

In [95]:
l=[12,24,36,48,60,72,84,96,108,120]
i=0
for j in l:
    print(j+(i+1)*2)
    i+=1

14
28
42
56
70
84
98
112
126
140

In [97]:
l=[1,2,3,4,5]
m=[]
for i in l:
    n=i*i
    m.append(n)
print(m)

[1, 4, 9, 16, 25]

In [105]:
odd=[]
even=[]
for i in range(1,101):
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
print(odd)
print(even)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [119]:
f=[]
s=[]
e=[]
t=[]
th=[]
fi=[]
se=[]
n=[]
odd=[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
even=[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

for i in even:
    if i%4==0:
        f.append(i)
    if i%6==0:
        s.append(i)
    if i%8==0:
        e.append(i)
    if i%10==0:
        t.append(i)
    if i%3==0:
        th.append(i)
    if i%5==0:
        fi.append(i)
    if i%7==0:
        se.append(i)
    if i%9==0:
        n.append(i)
for i in odd:
    if i%4==0:
        f.append(i)
    if i%6==0:
        s.append(i)
    if i%8==0:
        e.append(i)
    if i%10==0:
        t.append(i)
    if i%3==0:
        th.append(i)
    if i%5==0:
        fi.append(i)
    if i%7==0:
        se.append(i)
    if i%9==0:
        n.append(i)
print(f)
print(s)
print(e)
print(t)
print(th)
print(fi)
print(se)
print(n)

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100]
[6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]
[8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96, 3, 9, 15, 21, 27, 33, 39, 45, 51, 57, 63, 69, 75, 81, 87, 93, 99]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 5, 15, 25, 35, 45, 55, 65, 75, 85, 95]
[14, 28, 42, 56, 70, 84, 98, 7, 21, 35, 49, 63, 77, 91]
[18, 36, 54, 72, 90, 9, 27, 45, 63, 81, 99]

In [123]:
l=[1,"hi",1.1]
inte=[]
s=[]
f=[]
for i in l:
    if type(i)==int:
        inte.append(i)
    elif type(i)==str:
        s.append(i)
    elif type(i)==float:
        f.append(i)
print(inte)
print(s)
print(f)

[1]
['hi']
[1.1]