In [2]:
_shru3 =3
print(_shru3)
_shru3 = "shruti"
print(_shru3)

3
shruti

In [8]:
#.............CHAPTER -- 1............

#..................print funcion.................

print("hello")
print('program')
print("5+2")

#double and single quotes in string
print('Hii "Kirat" how r u??')

#print("hello 'python'")
#print('hello "program"')

hello
program
5+2
Hii "Kirat" how r u??

In [11]:
#.................escape sequences................

print("hello \"world\" world")
print("hello \'world\'world")
print("line a\nline b\nline c")
print("name  shakti")
print("this is backlash\\")
print("this is double backslash\\\\")

hello "world" world
hello 'world'world
line a
line b
line c
name  shakti
this is backlash\
this is double backslash\\

In [18]:
#.........escape sequence as a normal text............

#.....output...line a \n line b....

#.....output...line B \\\\n line b....

print("line a \\n line b")
print("line B \\t line b")

line a \n line b
line B \t line b
\"  \'

In [19]:
#.......raw string......

print(r"line a \n line b")

line a \n line b

In [3]:
#........how to print emoji......

print("\U0001F60D")
print("\U0001F601")
print("\U0001F609")
print("\U0001F618")
print("\U0001F61C")

üòç
üòÅ
üòâ
üòò
üòú

In [29]:
#....python as a calculter....

print(2+3)
print(3+4*4)

#...floating point division...

print(2/4)
print(4/2)

#.....integer division....

print(4//2)
print(2//4)

#......exponent.....

print(2**0.5)
print(2**8)
print(round(2**0.5,4))

#........using precedence rule.......

print(2**3/2*6-4*(3-4/2))
print((5+4)*4/6%2)

5
19
0.5
2.0
2
0
1.4142135623730951
256
1.4142
20.0
0.0

In [19]:
$kirat9="Chadha"
print($kirat9)

SyntaxError: invalid syntax (<ipython-input-19-bff168057178>, line 1)

In [6]:
#..........variables.........

number1 = 2
print(number1)
number1 = 4
print(number1)

#.....string......

name = "shakti"
print(name)
name = 123   #dyanamic programing language
print(name)

#....letter , _ ....

_name = "shakti"

#.......namingn rule for variables.......

#1name = "shakti"    #....error
name1 = "shakti"  #.......no error
#name$ = "shakti"    #....error
#$name = "shakti"     #......error
_name = "anyname"  #.....no error

#........convention for variable naming.........

user_one = "Shakti"  #snake case writing
userOne = "shakti"   #camle case writing

2
4
shakti
123

In [33]:
#................CHAPTER -- 2...............

#.........STRING CONCATENATION...........

#...ADD A TWO USER...

first_name = "shruti"
last_name = "wadhwa"
full_name = first_name + " " + last_name
print(full_name)

shruti wadhwa

In [8]:
#print(first_name + 5)  #error

print(first_name + "5")  #no error

print(first_name + str(5))  #no error

print(first_name * 5)  #no error

shruti5
shruti5
shrutishrutishrutishrutishruti

In [35]:
#........user input........
#....input function....

name = input("type your name ")
print("hello " + name)

type your name gunika
hello gunika

In [3]:
number_one = input("enter first number")
number_two = input("enter second number")
total = number_one + number_two
print("total is" + total)

number_one = int(input("enter first number"))
number_two = int(input("enter second number"))
total = number_one + number_two
print("total is" + str(total))
#print("total is" + total)

enter first number1
enter second number3
total is13
enter first number4
enter second number5

TypeError: can only concatenate str (not "int") to str

In [15]:
number1 = str(5)
number2 = float("6")
number3 = int("8")
print(number2 + number3)

14.0

In [23]:
#.......MORE ABOUT VARIABLES........

name, age ="shakti ", "23 "
print("hello " + name + "your age is " + age)

a=b=c=2
print(a+b+c)

hello shakti your age is 23
6

In [5]:
#minibus #......more than one input in one line......

name, age = input("enter your name and age").split()
print(name)
print(age)

enter your name and ageshruti shruti 23 34

ValueError: too many values to unpack (expected 2)

In [35]:
  #...........STRING FORMATTING...........

name = "shakti"
age = 23
print("hello {} your age is {}".format(name, age))    #....using python3
print(f"hello {name} your age is {23}")     #......using pyython3.6

hello shakti your age is 23
hello shakti your age is 23

In [1]:
#............excersies............

#..qustion--> ask your to input 3 number and you have to print average of three number using string formatting.

#....Bonus:-- try to take all three comma separeted inputs in one line.

num1 = input("enter the first number: ")
num2 = input("enter the second number: ")
num3 = input("enter the third number: ")
print(f"average of three number : {(int(num1) + int(num2) + int(num3)) /3} ")

#...............OR..............

num1, num2, num3 = input("enter three numbers comma separated: ").split(",")
print(f"avrage of three number :{(int(num1) + int(num2) + int(num3)) /3}")

enter the first number: 3
enter the second number: 3
enter the third number: 3
average of three number : 3.0
enter three numbers comma separated: 3,3,3
avrage of three number :3.0

In [36]:
#......STRING INDEXING........

language = "java"
print(language[3])

#........TO PRINT A LAST WORD.........

language = "java"
print(language[-1])

a
a

In [37]:
lang = "python"
print(lang[0:4])

pyth

In [ ]:
range (start, stop[, step])
range() takes three arguments.
Out of the three 2 arguments are optional. 
I.e., Start and Step are the optional arguments.
A start argument is a starting number of the sequence. 
i.e., lower limit. By default, it starts with 0 if not specified.
A stop argument is an upper limit. i.e.generate numbers up to this number, 
The range()  function doesn‚Äôt include this number in the result.
The step is a difference between each number in the result. 
The default value of the step is 1 if not specified.

In [24]:
#..........STEP ARGUMENT.........

print("harshit"[1:4:1])
print("harshit"[1::3])
print("harshit"[:3:2])
print("harshit"[::3])
print("harshit"[2::])
print("harshit"[::])
print("harshit"[-1::-2])
print("harshit"[:-4:-1])

ars
ah
hr
hst
rshit
harshit
thrh
tih

In [5]:
#...............chapter 3..................
#.......if statement.........


age = input("enter your age : ")
age = int(age)
if age >=20:
    print("you are above 20")

else:
    print("Your age less than 20")
print("you are eligble to this game ")

enter your age : 23
you are above 20
you are eligble to this game

In [11]:

+#...........pass statement...........

a = 50
if a >49:
    pass

In [19]:
#............else statement.............

age = input("enter your age : ")
age = int(age)
if age >=20:
    print("line a")
    print("you are above 20")
    print("you are eligble to this game ")
else:
    print("sorry you can't play pubg ")

enter your age : 19
sorry you can't play pubg

In [2]:
#............ nested if else..............

winning_number = 30
user_input = input("guess a number b/w 1 and 100 : ")
user_input = int(user_input)
if user_input == winning_number:
    print("you win !!!") 
    print("\U0001F60D") 
else:                                #.....nested if else.....
    if user_input < winning_number:
        print("lose the game")
    else:
        print("lose the game")

guess a number b/w 1 and 100 : 30
you win !!!
üòç

In [34]:
#...........and or opreator.........

#......and......

name = "shakti"
age = 23
clss = 12
if name=="shakti" and age==23 and clss==12:
    print("condition true")
else:
    print("condition false")
    
#......or.......

name = "shakti"
age = 23
clss = 12
if name=="shakti" or age==30 or clss==12:
    print("condition true")
else:
    print("condition false")

condition true
condition true

In [35]:
#..............exercies..............

user_name = input("enter your name : ")
user_age = input("enter your age : ")
user_age = int(user_age)
if user_age >= 15 and (user_name[0]=="a" or user_name[0] =="A"):
    print("you can watch movie ")
else:
    print("you can't watch movie")

enter your name : a
enter your age : 15
you can watch movie

In [41]:
#........if......elif......else........

age = input("please input your age : ")
age = int(age)
if age==0 or age < 0:
    print("you can't watch movie")
elif 0<age<=3:
    print("ticket price : free")
elif 3<age<=10:
    print("ticket price : 150")
elif 11<age<=60:
    print("ticket price : 250")
else:
    print("ticket price : 200")

please input your age : 3
ticket price : free